@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dfe6e9;
    border: none;
    color: #000000;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 18px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
  }
  a:hover {
    text-decoration: none;
  }
  
  .btn {
    background: #333;
  }
  
  .btn:hover {
    background-color: #23a38b;
  }
    
  .header-inner {
    position: relative;
    text-align: center;
  }
  
  .site-title {
    font-size: 2.25em;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.25);
  }
  
  .site-title a {
    color: #3c631c;
  }
  
  .site-title a:hover {
    color: #13c4a5;
  }
  
  .site-description {
    color: #332525;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 110%;
    margin: 20px 0 0;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
  }


/* time and date */
.display-date {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 20px;
}

.display-time {
    font-size: 5rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 50px;
}

p{
    text-align: center;
    justify-content: center;
    color: black;
    font-weight: bolder;
    font-size: larger;
}

  
  /* left and right */
  section {
    color: #fff;
    text-align: center;
  }
  
  /* div {
    height: 100%;
  } */
  
  article {
    position: absolute;
    top: 150%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
  }
  
  h1 {
    font-size: 1.75rem;
    margin: 0 0 0.75rem 0;
  }
  
  /* Pattern styles */
  .container {
    display: table;
    width: 100%;
    
    /* max-width: 600px; */
  }
  
  .left-half {
    /* background-color: #ff9e2c; */
    position: absolute;
    text-align: center;
    left: 27.5%;
    width: 50%;
    top: 64%;
  }
  
  .right-half {
    /* background-color: #b6701e; */
    position: absolute;
    text-align: center;
    left: 50%;
    width: 50%;
    top: 64%; 
  }
.fab{
    text-align: center;
}


/* footer */
.footer{
    position: absolute;
    bottom: -10%;
    /* margin: 10px; */

    width: 100%;
    text-align: center;
}
Section .copy{
margin-bottom: -50%;
color: #332525;
font-size: 1.1em;
font-weight: 400;
line-height: 110%;
margin: 20px 0 ;
text-align: center;
color: black;
/* text-shadow: 1px 1px 1px rgba(0,0,0,.25); */
}
.footer-text{
    font-size: 20px;
}


@media (min-width: 400px) {
    .box {
        width: 85%;
        padding: 0;
    }
}
  /* For devices larger than 550px */
@media (min-width: 550px) {
    .box {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 0;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    #navbar {
      padding: 0rem 1rem;
      justify-content: center;
    }
  
    #projects .projects {
      grid-template-columns: repeat(1, 1fr);
    }
  
    main .container p {
      margin-bottom: 1.5rem;
    }
  
    main .container .btn>div a {
      display: block;
      margin: 1rem 1.5rem;
    }
  
    #main-footer .container {
      flex-direction: column;
    }
  
    #main-footer #creator {
      margin-top: 1rem;
    }
    .site-title a img{
        width: 100%;
        max-width: 100px;
        height: auto;
    }
  }
